<!-- 
<h1>Welcome to {{name}}'s Profile</h1>
<h2>{{role}}</h2>
<p>This is my Angular Project</p>
<h3>My Skills:</h3>
<ul>
  <li>Java core</li>
  <li>SpringBoot</li>
  <li>Hibernate</li>
  <li>JDBC</li>
  <li>Mysql</li>
</ul>

<button disabled >Resume</button> <br>
<button [disabled]="isdisabled">Download Resume</button>

<p>String interpolation</p>
{{title}}
<br/>
{{role}}
<br/>
{{age}}
<br>
<input type="text" [disabled]="isdisabled" [value]="name" />
<br/>
<!-- <h1 [class]="isactive? 'active':'inactive'">HEllo guys</h1> -->
 <div class="form">
  <form>
Name<br><input type="text"><br> 
Gmail<br><input type="text"><br>
Phone<br><input type="text">
 <br>
 <button>Connect</button>
</form> 
</div>

<h1>Two way binding</h1>
<h4>{{name1}}</h4>
<h4>{{name2}}</h4>
<br><br>

Name: <input type="text" [(ngModel)] = "name2">

Name: <input type="text" [(ngModel)] = "name1">

<!-- simple if-->

<h3>This is Simple If</h3>

  <h1>Welcome to Angular</h1>
@if(islogin){
  Welcome user -_-
}
@else {
  Sorry !! Login failed *_*
}

<button (click)="clickkk()">Click Me</button>


<!--ng for with list-->
<ul>
    @for (item of city; track $index){
        <li> {{item}}</li>
    }
</ul>

<!--ng for with Div-->
<div>
    @for (item of city; track $index){
        <div> {{item}} </div>
    }
</div>
<!-- ng for with drop down-->
 <div class="select">
    <select>
        @for (item of city; track $index){
            <option value=""> {{item}} 
            </option>
        }
    </select>
 </div>
 <!--ng for with table-->
 <div class="table">
    <table>
        <thead>
            <tr>
                <th scope="col">SrNo</th>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
    </table>
</div>
<button (click)="clickkk()">Touch Here</button>
<!-- <table>
    <thead>

    </thead>
    <tbody>
        @for (item of std; track $index)
{
    <tr>
        <td>{{$index+1}}</td> <br>
    <td>
        {{item.stdname}}
    </td> <br>
    <td>
        {{item.stdcity}}
    </td>
</tr>
} 
   </tbody>
</table> -->

<button (click)="clickkk()">Touch Here</button>


<strong>Name</strong>

<!-- <app-header></app-header>
<app-footer></app-footer> -->


<div [ngClass]="NGClass?'yellow':'green'">This NGClass</div><br>
<strong>Forms</strong>
<div class="hll">
    <form (click)="onclicked()">
        <p>UserName: <input type="text" name="Username" [(ngModel)]="UserName"></p>
        <p>Password: <input type="password" name="Password" [(ngModel)]="Password"></p>
        <p>Confirm password:<input type="password" name="confirmpassword" [(ngModel)]="ConfirmPassword"></p>
        <button (click)="submit()">Register</button>
    </form>
</div>




