<body>
<h1>Welcome to {{name}}'s Profile</h1>
<h2>{{role}}</h2>
<p>This is my Angular Project</p>
<h3>My Skills:</h3>
<ul>
  <li>Java core</li>
  <li>SpringBoot</li>
  <li>Hibernate</li>
  <li>JDBC</li>
  <li>Mysql</li>
</ul>

<button disabled >Resume</button> <br>
<button [disabled]="isdisabled">Download Resume</button>

<p>String interpolation</p>
{{title}}
<br/>
{{role}}
<br/>
{{age}}
<br>
<input type="text" [disabled]="isdisabled" [value]="name" />
<br/>
<!-- <h1 [class]="isactive? 'active':'inactive'">HEllo guys</h1> -->
 <div class="form">
  <form>
Name<br><input type="text"><br> 
Gmail<br><input type="text"><br>
Phone<br><input type="text">
 <br>
 <button>Connect</button>
</form> 
</div>
</body>